/* styles.css */

body {
    background-image: url('backround.jpg'); /* Replace 'your-image-url.jpg' with the actual path or URL of your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to cover the entire viewport */
}

#app {
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to the app */
    border-radius: 10px; /* Add border radius for a rounded appearance */
}

button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

p {
    font-size: 18px;
    margin: 20px 0;
    color: #333;
}
