body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('backround.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
}

#header {
    text-align: center;
}

#logo {
    width: 110px; /* Adjust the width as needed */
    height: auto;
    margin-bottom: 10px;
}

h1 {
    margin-top: 10px;
    color: #fff;
}

#app {
    text-align: center;
    margin-top: 60px; /* Adjust the margin-top as needed */
}

button {
    width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#transcription,
#translation {
    margin: 20px 0;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

#translation {
    background-color: #e0e0e0;
}
